<IfModule mod_rewrite.c>
    RewriteEngine On
    #この条件をつけないと永久ループ
    RewriteCond %{REQUEST_URI} !/dest
    #RewriteRule ^(.*)$ http://localhost/react_sample/dest/$1はURL書き換えが起こる
    #.をつけないと相対パスにならない ./ or /自体書かない
    RewriteRule ^(.*)$ dest/$1
</IfModule>
